# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# App specific ignores
uploads/
*.sqlite3
app/ai_models/*/pesos/*.pt
app/node_modules/
app/static/css/tailwind.css

*.gz
example_files/ATCC25922.fastq.gz