{% extends 'base.html' %}

{% block title %}Iniciar tarea externa{% endblock %}

{% block override_style %}
{% endblock %}

{% block content %}
<div class="container my-4">
  <h1 class="h4 mb-4 fw-bold">Subir FASTA y lanzar anotación</h1>

  <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'converter:external_task_ui' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Archivo FASTA:
        <input type="file" name="fasta_file" accept=".fasta,.fa" required class="form-control">
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar</button>
  </form>
</div>

{% endblock %}
